header {
    display: flex;
    height: 80px;
    margin:0;
    padding: 0;
    background-color: burlywood;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;
   
    
   
}




.logo {
    height: 35px;
    margin: 20px;
    

}

a{
   
    text-decoration: none;
    color: white;
    
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.section-1 {
    display: flex;
    background-color: burlywood;
    height: 500px;
}


h1 {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    justify-content: center;
    font-weight: 500;

}
p {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.container {
    margin: 70px 45px;
    align-items: center;
    max-width: 500px;
    max-height: 500px;
    flex-shrink: 1;
    flex-wrap: wrap;

}

.pic {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 80px;
    height: 300px;
    

}

button {
    width: 70px;
    padding: 10px;
    border:none;
    background-color: rgb(60, 37, 8);
    color: white;
    border-radius: 50% 20% / 10% 40%;
    
}
strong {
    font-weight: bold;
}

.section-2 {
    display: flex;
    flex-direction: column;


}

h3{
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    justify-content: center;

}

.fiction {
    display: flex;
    gap: 20px;
    justify-content: space-around;


}
.book {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
    align-items: center;
    justify-content: center;
    padding: 10px;
}

img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

