header {
    display: flex;
    height: 80px;
    margin:0;
    padding: 0;
    background-color: burlywood;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.logo {
    margin: 5px;

}

a{
   
    text-decoration: none;
    color: white;
    
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.section-1 {
    display: flex;
    background-color: burlywood;
    height: 500px;
}


h1 {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
    justify-content: center;
    font-weight: 500;

}
p {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.container {
    margin: 70px 45px;
    align-items: center;

}

.pic {
    display: flex;
    max-height: 300px;
    margin: 80px;


}

button {
    width: 70px;
    padding: 10px;
    border:none;
    background-color: rgb(60, 37, 8);
    color: white;
    border-radius: 50% 20% / 10% 40%;
    
}

